<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%=  %>">About Ernie</a>
    <hr>
    <a class="dropdown-item" href="<%=  %>">Ernie's Bookshelf</a>
    <hr>
    <a class="dropdown-item" href="<%=  %>">MI Stamp Clubs</a>
    <hr>
    <a class="dropdown-item" href="<%=  %>">MI Genealogy Clubs</a>
    <hr>
    <a class="dropdown-item" href="<%=  %>">MI History Societies</a>
    <hr>
    <a class="dropdown-item" href="<%=  %>">National Societies</a>
    
   
  </div>
</div>